<?xml version="1.0" encoding="utf-8" ?>
  <log4net>
    <!--输出到kafka-->
    <appender name="KafkaAppender" type="log4net.Appender.KafkaSyncAppender, log4net.kafka">
      <!--指定是否启用调试模式，默认false，生产环境严禁启用-->
      <enableDebug value="false"/>
      <!--kafka连接配置-->
      <kafkaSettings>
        <!--支持配置多个broker-->
        <brokers>
          <add value="http://192.168.50.233:9092" />
        </brokers>
        <!--可以根据不同的消息路由到不同的topic，也可以固定，一般业务固定一个-->
        <topic type="log4net.Layout.PatternLayout">
          <conversionPattern value="topic-familyplat" />
        </topic>
      </kafkaSettings>
      <!--最大日志缓冲数 默认值1000条-->
      <maxPendingCount value="1000"/>
      <!--日志格式布局 必须采用json-->
      <layout type="log4net.Layout.JsonLayout, log4net.kafka">
        <!--
      [包含]哪些属性，将从上下文中获取属性补充到json字段，优先于[移除]
      默认不提取上下文中的属性，多个属性以英文逗号分割，*代表获取所有属性
      -->
        <includeProperties value="*"/>
        <!--
      [移除]哪些属性，将从json中排除指定字段
      默认不移除任何属性，多个属性以英文逗号分割
      -->
        <excludeProperties value="fieldA,fieldB"/>
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="FileAppender" />
      <appender-ref ref="KafkaAppender" />
    </root>
    <logger name="Memcached.ClientLibrary.MemcachedClient">
      <appender-ref ref="KafkaAppender"/>
      <level value="WARN"/>
    </logger>

    <!--输出到文件-->
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="log\\" />
      <file type="log4net.Util.PatternString" value="log\%date{yyyy-MM-dd}.log" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>

    <logger name="GlobeError">
      <appender-ref ref="FileAppender"/>
      <appender-ref ref="KafkaAppender"/>
      <level value="WARN"/>
    </logger>

  </log4net>